.user_chooses:hover{
    color: red;
    /*background: black;*/
}
.command:nth-child(0){
    color: blue;
}
#subboard{
    border-width: 1px;
    border-style: solid;
    text-align: center;
}
#subboard:hover{
    background: red;
}